.ot-textchat {
  font-family: sans-serif;
  background-color: #F8F8F8;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;
}

.ot-textchat * {
  margin: 0;
  padding: 0;
}

.ot-textchat .ot-bubbles {
  position: relative;
  margin-bottom: 1em;
  height: calc(100% - 14em);
  overflow-y: auto;
  overflow-x: hidden;
}

/*
 * By default, normal bubbles are bubbles from the other participants and
 * the special case is the local participan.
 */
.ot-textchat .ot-bubble {
  background-color: #A186BE;
  color: #FFF;
  margin-left: 0.7em;
  border-bottom: 0.2em solid #DDD;
  white-space: nowrap;
}

/* Centering triangle with bubble contents */
.ot-textchat .ot-bubble:before,
.ot-textchat .ot-bubble:after,
.ot-textchat .ot-bubble > div {
  display: inline-block;
  vertical-align: middle;
}

.ot-textchat .ot-bubble > div {
  width: calc(100% - 1.2em - 2em);
  position: relative;
  left: -0.8em;
  padding: 1em 2em 1em 1.2em;
  white-space: normal;
}

/*
 * To keep the start of the text and the end aligned, we keep the width
 * but reducing the right padding so we "free" some space at right.
 */
.ot-textchat .ot-bubble.mine > div {
  width: calc(100% - 1.2em - 2em);
  background-color: #FFF;
  color: #444;
  padding-right: 1em;
}

/* The left triangle */
.ot-textchat .ot-bubble:before {
  content: "";
  /* triangle */
  border: 0.6em solid transparent;
  border-left: none;
  border-right-width: 0.8em;
  border-right-color: #A186BE;
  /* move outside the box */
  position: relative;
  left: -0.7em;
}

/*
 * Simply hide (not destroy) the left triangle to simplify stylizing the
 * content.
 */
.ot-textchat .ot-bubble.mine:before {
  border-color: transparent;
}

/* The right triangle */
.ot-textchat .ot-bubble.mine:after {
  content: "";
  /* triangle */
  border: 0.6em solid transparent;
  border-right: none;
  border-left-width: 0.8em;
  border-left-color: #FFF;
  /* move outside the box */
  position: relative;
  right: 0.8em;
}

.ot-textchat .ot-bubble-header {
  font-size: 1.1em;
  overflow: auto;
  margin-bottom: 1em;
}

.ot-textchat .ot-message-sender {
  float: left;
}

.ot-textchat .ot-message-timestamp {
  float: right;
}

.ot-textchat .ot-input {
  position: relative;
  margin: 0 1em;
}

.ot-textchat .ot-composer {
  padding: 1em;
  height: 10em;
  width: 100%;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  outline: none;
  overflow: auto;
}

.ot-textchat .ot-error-zone,
.ot-textchat .ot-new-messages {
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(calc(-100% - 1em));
}

.ot-textchat .ot-error-zone {
  color: #D00;
  background-color: #FFF2F2;
  border: 1px solid #D00;
}

.ot-textchat .ot-new-messages {
  background-color: #F8F8F8;
  text-align: center;
}

.ot-textchat .ot-bottom-line {
  overflow: auto;
  color: #949494;
}

.ot-textchat .ot-character-counter {
  float: left;
  margin: 1em 0;
}

.ot-textchat .ot-character-counter.error {
  color: #D00;
}

.ot-textchat .ot-send-button {
  background: none;
  border: none;
  outline: none;
  float: right;
  margin: 1em 0;
  font-size: inherit;
  color: inherit;
}

.ot-textchat .ot-send-button[disabled] {
  color: #C1C1C1;
}
